extends ./partials/_layout.pug

block pagetitle
    title Home page

block content

    .container-fluid

        .container.mt-5


            h1.tophdr Placeholder content...

            hr.mb-4

            p
                strong Delete all this stuff and place something more meaningful here. 
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ipsam placeat? Ex exercitationem expedita maiores tenetur quo libero, aliquid nostrum odit placeat nisi ducimus eum beatae ratione asperiores, #[strong allo iusto iste recusandae], illum dignissimos unde. Molestiae, totam dicta porro necessitatibus doloremque, ut voluptatum, tempore assumenda voluptatibus tempora eos.

            h3.my-4 Unde laborum dignissimos maiores

            .row-center

                .col-md-5
                    p.
                        #[strong This is the .row-center extension class]. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Quo igitur, inquit, modo? Bonum valitudo: miser w-centerus.

                .col-md-5
                    p.
                        Recte, inquit, intellegis. Contemnit enim disserendi elegantiam, confuse loquitur. Bonum patria: miserum exilium. Minime vero, inquit w-center, consentit.

