html {
    font-size: 15px;
}
body {
    font-family: 'Helvetica Neue', HelveticaNeue, Arial, sans-serif;
    line-height: 1.6;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}