
// colors

// fonts
$font-body: 'Helvetica Neue', HelveticaNeue, Arial, sans-serif;
$font-weight-body: 400;
$font-weight-headers: 500;

// spacing & sizing
$base-size: 1.6rem;

$xl: 4.8rem;
$lg: 3.2rem;
$md: $base-size;
$sm: $base-size * 0.8;

// breakpoints
$desktop: 45rem;
